<div class="container">
  <div class="row">

<form class="formwidth" (ngSubmit)="onSubmit()" #imgForm="ngForm">
  <div class="col-md-2 col-sm-6 col-xs-6">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Check-in" id="dateIn" [(ngModel)]="model.dateIn" name="dateIn">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6">
      <mat-form-field>
        <mat-select placeholder="Nights" id="length" [(ngModel)]="model.length" name="length" >
          <mat-option *ngFor="let option of lengthOptions" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6">
      <mat-form-field>
        <mat-select placeholder="Adults" id="adults" [(ngModel)]="model.adults" name="adults" >
          <mat-option *ngFor="let option of adultOptions" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6">
      <mat-form-field>
        <mat-select placeholder="Children" id="children" [(ngModel)]="model.children" name="children">
          <mat-option *ngFor="let option of childOptions" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6">
    <mat-form-field>
      <mat-select placeholder="Rooms" id="rooms" [(ngModel)]="model.rooms" name="rooms">
        <mat-option *ngFor="let option of roomOptions" [value]="option.id">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-2 col-sm-6 col-xs-6">
      <button type="submit" mat-raised-button>SEARCH <mat-icon>search</mat-icon></button>
  </div>
</form>
  </div>
</div>